@charset "utf-8";

/* calendar */
#calendar {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

/* fullcalendar */
.fc .fc-button,
.fc .fc-button:disabled,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button:hover,
.fc .fc-button-primary:hover {
    background: #191970;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: none;
    opacity: 1;
}

.fc .fc-button:hover,
.fc .fc-button-primary:hover {
    opacity: 0.9;
    transition: all 0.2s;
}

.fc .fc-toolbar {
    display: inline-block;
    justify-content: normal;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 40px;
}

.fc .fc-toolbar-title {
    font-size: 2em;
}

.fc .fc-toolbar-chunk {
    display: inline-block;
}

.fc .fc-toolbar-chunk button {
    height: 40px;
}

.fc .fc-toolbar-chunk:nth-child(1) h2 {
    font-weight: bold;
}

.fc .fc-toolbar-chunk:nth-child(2),
.fc .fc-toolbar-chunk:nth-child(3) {
    float: right;
}

.fc .fc-toolbar-chunk:nth-child(3) .fc-today-button {
    background: #20b2aa;
}

.fc .fc-toolbar-chunk:nth-child(3) .fc-today-button:hover {
    background: #20b2aa;
}

.fc .fc-daygrid .fc-day-sun {
    color: red;
}

.fc .fc-daygrid .fc-day-sat {
    color: blue;
}

.fc .fc-daygrid-day.fc-day-today {
    background: rgba(32, 178, 170, 0.2);
}

.fc .fc-daygrid-block-event .fc-event-time,
.fc .fc-daygrid-block-event .fc-event-title {
    padding: 1px 4px 1px;
}

.fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
    margin: 0 10px;
}

/* fullcalendar - modal */
.modal h5 {
    font-weight: bold;
}

.modal-footer button:hover {
    color: #ffffff;
}

.modal-delete .modal-footer {
    border-top: none;
}



/* 반응형 - mobile */
@media screen and (max-width: 576px) {

    #calendar {
        max-width: 480px;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 20px;
    }

    .fc .fc-toolbar-chunk {
        text-align: center;
        display: inline-block;
        float: none;
    }

    .fc .fc-toolbar-chunk:nth-child(1) {
        width: 100%;
        margin-bottom: 30px;
    }

    .fc .fc-toolbar-chunk:nth-child(3) {
        float: left;
    }

    .fc-direction-ltr .fc-toolbar>*>:not(:first-child) {
        margin: 0 4px;
    }

}
