@charset "utf-8";

/* common */
html,
body {
    overflow: hidden;
}

/* header */
#map-header {
    width: 60px;
    height: 100%;
    background: #ffffff;
    text-align: center;
    border-right: 1px solid #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#map-header a {
    width: 100%;
    padding: 22px 0;
    display: inline-block;
}

#map-header a:nth-child(1) span {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#map-header a:nth-child(3) {
    padding: 4px 0;
}

#map-header a .material-symbols-rounded {
    font-size: 2em;
}

#map-header a:hover .material-symbols-rounded {
    color: #20b2aa;
}

#map-header-btn .material-symbols-rounded {
    color: #191970;
}

#map-header .logo {
    width: 40px;
    height: 40px;
    margin-left: -4px;
    font-size: 2em;
    font-style: italic;
    line-height: 40px;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* calendar */
#calendar-container {
    width: 500px;
    height: 100%;
    background: #ffffff;
    border-radius: 0 30px 0 0;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 10;
}

#calendar-title {
    width: 100%;
    padding: 20px 20px 80px;
    background: url("../images/bg/bg_title.png") bottom no-repeat;
    background-size: cover;
    position: relative;
}

#calendar-title h2 {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

#calendar-title .title-text {
    position: relative;
    z-index: 1;
}

#calendar-title .title-color {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(32, 178, 170, 0.4) 50%, rgba(25, 25, 112, 0.6));
    position: absolute;
    top: 0;
    left: 0;
}

#calendar-content {
    width: 100%;
    height: 100%;
}

#calendar-btn-group {
    width: 100%;
    padding: 20px;
    background: #ffffff;
    text-align: center;
    border-top: 1px solid #cccccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

#calendar-btn-group button {
    width: 31.5%;
    margin-right: 1%;
    padding: 10px 0 8px;
    display: inline-block;
}

#calendar-btn-group button:last-child {
    margin-right: 0;
}

/* calendar - content */
.content-list,
.content-list-place {
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

.content-list-place {
    height: 75%;
}

#place-list {
    padding: 20px;
}

#place-list p {
    margin: 60px 0 80px;
    color: #999999;
    text-align: center;
}

#place-list li {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

#place-list li::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}

#place-list li:hover {
    background: rgba(32, 178, 170, 0.05);
    border: 1px solid #191970;
}

#place-list li:hover::before {
    background: #191970;
}

#place-list li label {
    font-weight: bold;
}

#place-list li label .material-symbols-rounded {
    margin-left: -2px;
    margin-right: 2px;
    font-size: 1.2em;
}

#place-list li input {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    background: transparent;
    border: none;
}

#place-list li button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px 0 8px;
    border-top: 1px solid #eeeeee;
}

#place-list li .value-text {
    margin-bottom: 20px;
}

#place-list li #name {
    margin: 10px 0 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}

.place-list-card {
    margin-bottom: 10px;
}

.place-list-card a {
    width: 100%;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s;
}

.place-list-card a::before {
    content: "";
    width: 4px;
    height: 100%;
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}

.place-list-card a:hover {
    background: rgba(32, 178, 170, 0.05);
    border: 1px solid #191970;
}

.place-list-card a:hover::before {
    background: #191970;
}

.place-list-card a .title {
    font-weight: bold;
    font-size: 1.4em;
}

.place-list-card a .date {
    color: #999999;
    display: block;
}

.place-list-card h3 {
    display: inline-block;
    word-break: break-all;
}

.place-list-card .material-symbols-rounded {
    margin-bottom: 6px;
}

/* map */
.gm-style > div:nth-child(5) > .gmnoprint {
    left: auto !important;
    right: 50px !important;
}

#map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    height: 100%;
}

/* map - infowindow */
.gm-style,
.gm-style-iw,
.gm-style-iw-c {
    padding: 0 !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2) !important;
}

.gm-style-iw,
.gm-style-iw-c,
.gm-style-iw-d {
    max-width: auto !important;
    max-height: auto !important;
    overflow: hidden !important;
}

.gm-style-iw-tc,
.poi-info-window,
.gm-ui-hover-effect {
    display: none !important;
}

#infowindow {
    padding: 20px;
}

#infowindow-wrap input {
    margin-bottom: 8px;
    padding: 0;
    border: none;
}

#infowindow-wrap .value-text {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: normal;
    border-bottom: 1px solid #eeeeee;
}

#infowindow-wrap .material-symbols-rounded {
    margin-left: -2px;
    margin-right: 2px;
    font-size: 1.2em !important;
}

#infowindow-wrap #name {
    width: 100%;
    margin-bottom: 8px;
    font-size: 1.2em;
    font-weight: bold;
}

#infowindow-btn-group {
    width: 100%;
    margin-top: 12px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #eeeeee;
}

#infowindow-btn-group button {
    width: 31.5%;
    margin-right: 1.5%;
    display: inline-block;
}

#infowindow-btn-group button:last-child {
    margin-right: 0;
}

#infowindow-btn-group button {
    padding: 6px 6px 4px;
}

/* map - search */
#map-search-box {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#map-search-input {
    width: 360px;
    height: 40px;
    border: 1px solid #191970;
    border-radius: 8px;
    position: relative;
}

.map-btn-search {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    background: transparent;
    border-radius: 0 8px 8px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.map-btn-search .material-symbols-rounded {
    margin-top: -2px;
}

.map-btn-search:hover .material-symbols-rounded {
    color: #20b2aa;
    transition: all 0.2s;
}



/* 반응형 - mobile */
@media screen and (max-width: 768px) {

    /* calendar */
    #calendar-container {
        width: 400px;
    }

    /* map - search */
    #map-search-box {
        left: 70px;
        transform: none;
    }

    #map-search-input {
        width: 280px;
    }

}



@media screen and (max-width: 576px) {

    /* calendar */
    #calendar-container {
        width: 300px;
    }

    #calendar-title {
        padding: 20px 20px 40px;
    }

    #calendar-btn-group button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 6px;
        padding: 6px 0 4px;
    }

    #calendar-btn-group button:last-child {
        margin-bottom: 0;
    }

    /* calendar - content */
    #place-list li button {
        padding: 6px 0 4px;
    }

    /* map */
    .gm-style > div:nth-child(5) > .gmnoprint {
        top: 50px !important;
        left: 60px !important;
        right: auto !important;
    }

    .gm-control-active .gm-fullscreen-control {
        top: 50px !important;
        left: 225px !important;
    }

    /* map - infowindow */
   #infowindow-btn-group button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 6px;
    }

    #infowindow-btn-group button:last-child {
        margin-bottom: 0;
    }

    #infowindow-btn-group button {
        padding: 4px 4px 2px;
    }

}
