<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/index.css"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://localhost:8080/js/index.js"></script>
    <script src="http://localhost:8080/js/sidebar.js"></script>
    <script th:inline="javascript">
        const parentId = /*[[${parentId}]]*/ null;
        // 장소 정보 리스트 생성하기
        const placeItems = [];

        function addPlace() {
            const list = document.getElementById("list_place");
            // currentMarkerId와 일치하는 ID를 가진 마커를 markers에서 찾기
            const marker = markers.find((marker) => marker.id === currentMarkerId);

            // 장소 정보 가져오기
            const place = marker.place;
            const placeId = marker.get("placeId");
            const lat = marker.getPosition().lat();
            const lng = marker.getPosition().lng();
            const placeRating = place.rating === undefined ? 0 : place.rating;
            const placeName = place.name === undefined ? "이름 없음" : place.name;
            const placePhoneNumber = place.formatted_phone_number === undefined ? "전화번호 없음" : place.formatted_phone_number;

            const listItem = document.createElement("li");

            listItem.innerHTML = `
    <label for='name'>이름</label><input name='name' value='${placeName}' readonly /><br/>
    <label for='phone'>전화번호</label><input name='phoneNumber' value='${placePhoneNumber}' readonly /><br/>
    <label for='rating'>별점</label><input name='rating' value='${placeRating}' readonly />
    <input type='hidden' name='placeId' value='${placeId}' readonly />
    <input type='hidden' name='latitude' value='${lat}' readonly />
    <input type='hidden' name='longitude' value='${lng}' readonly />
    <input type='button' value='삭제' onclick='deletePlace(this)' />
  `;

            list.appendChild(listItem);
            placeItems.push({
                "name": placeName,
                "phoneNumber": placePhoneNumber,
                "rating": placeRating,
                "placeId": placeId,
                "latitude": lat,
                "longitude": lng,
                "parentId" : parentId
            });

            alert("장소를 추가했습니다.");
        }

        function deletePlace(button) {
            const listItem = button.parentNode;
            const index = Array.from(list.children).indexOf(listItem);

                list.removeChild(listItem);
            placeItems.splice(index, 1);
        }

        function saveData() {
            console.log(placeItems)
            // AJAX 요청 보내기
            fetch('/places/save/' + parentId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(placeItems)
            })
                .then(response => response.json())
                .then(data => {
                    // 요청이 성공적으로 완료된 후 처리할 코드
                })
                .catch(error => {
                    // 요청이 실패한 경우 처리할 코드
                });
        }

    </script>

</head>
<body>
<!-- calender -->
<div id="calender_container">
    <!-- calender title -->
    <div id="calender_title">
        <span>1일차</span>
    </div>
    <!-- calender content -->
    <form id="calender_content">
        <input type="hidden" name="longitude" id="parentId" th:value="${parentId}" readonly/>
        <div class="content_list">
            <ul id="list_place">
                <li th:each="place : ${places}">
                    <label for="name">이름</label>
                    <input name="name" id="name" th:value="${place.name}" readonly/><br/>
                    <label for="phone">전화번호</label>
                    <input name="phoneNumber" id="phone" th:value="${place.phoneNumber}" readonly/><br/>
                    <label for="rating">별점</label>
                    <input name="rating" id="rating" th:value="${place.rating}" readonly/>
                    <label for="placeId"></label>
                    <input type="hidden" name="placeId" id="placeId" th:value="${place.placeId}" readonly/>
                    <label for="latitude"></label>
                    <input type="hidden" name="latitude" id="latitude" th:value="${place.latitude}" readonly/>
                    <label for="longitude"></label>
                    <input type="hidden" name="longitude" id="longitude" th:value="${place.longitude}" readonly/>
                    <input type="button" value="삭제" onclick="deletePlace()"/>
                </li>
            </ul>
        </div>
        <!-- calender bottom button -->
        <div id="calender_btn_group">
            <input type="button" class="calender_btn_init" value="지도 초기화" onclick="initPlace()"/>
            <input type="button" class="calender_btn_delete" value="전체 삭제" onclick=""/>
            <input type="button" class="calender_btn_save" value="저장" onclick="saveData()"/>
        </div>
    </form>
    <!-- calender open/close button -->
    <button id="calender_btn_open">열기</button>
</div>

<!-- map -->
<div id="map_container">
    <!-- search -->
    <div id="map_search_box">
        <input id="map_search_input" type="text" placeholder="Search" onkeypress="searchPlace()"/>
        <button class="map_btn_search" onclick="searchPlace()">검색</button>
    </div>
    <!-- map -->
    <div id="map"></div>
</div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly"
        defer
></script>
</body>
</html>
