<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRIPLANER 일일 여행일정</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/map.css"/>

    <!-- js -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/effect.js"></script>
    <script>
        function goBack() {
            history.back();
        }

        function message() {
            alert("저장 되었습니다.")
        }

    </script>
</head>
<body>
<!-- header -->
<header id="map-header">
    <a id="map-header-btn">
        <span id="btn-open" class="disable-text material-symbols-rounded">arrow_forward</span>
        <span id="btn-close" class="disable-text material-symbols-rounded">close</span>
    </a>
    <a href="/schedules">
        <span class="disable-text material-symbols-rounded">calendar_month</span>
    </a>
    <a>
        <span class="disable-text material-symbols-rounded" onclick="goBack()">list_alt</span>
    </a>
    <h1 class="logo disable-text">P</h1>
</header>

<!-- calendar -->
<div id="calendar-container">
    <!-- calendar title -->
    <div id="calendar-title" class="primary-bg">
        <div class="title-text">
            <p>일일 일정</p>
            <h2 th:text="${daily.title}"></h2>
        </div>
        <div class="title-color"></div>
    </div>
    <!-- calendar content -->
    <div id="calendar-content">
        <input type="hidden" name="parentId" id="parentId" th:value="${parentId}" readonly/>
        <div class="content-list-place">
            <ul id="place-list"></ul>
        </div>
        <!-- calendar bottom button -->
        <div id="calendar-btn-group">
            <button class="calendar-btn-init primary-btn" onclick="initPlace()">
                <span class="material-symbols-rounded">location_on</span> 마커 지우기
            </button>
            <button class="calendar-btn-delete primary-btn" onclick="deleteAllPlace()">
                <span class="material-symbols-rounded">remove</span> 장소 삭제
            </button>
            <button class="calendar-btn-save point-btn" onclick="saveData(); message();">
                <span class="material-symbols-rounded">add</span> 장소 저장
            </button>
        </div>
    </div>
</div>

<!-- map -->
<div id="map-container">
    <!-- search -->
    <div id="map-search-box">
        <input id="map-search-input" type="text" placeholder="지도 검색" onkeypress="searchPlace()"/>
        <button class="map-btn-search" onclick="searchPlace()">
            <span class="primary-text material-symbols-rounded">search</span>
        </button>
    </div>
    <!-- map -->
    <div id="map"></div>
</div>

<!-- js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCINHemUaU3XNZAq3m9AjgAFbV-HRaKTXg&libraries=places&v=weekly&callback=initMap"
        defer></script>
</body>
</html>
