<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRIPLANER 일일 여행일정</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.0/reset.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/map.css" />

    <!-- js -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/effect.js"></script>
</head>
<body>
    <!-- header -->
    <header id="map-header">
        <a id="map-header-btn">
            <span id="btn-open" class="disable-text material-symbols-rounded">arrow_forward</span>
            <span id="btn-close" class="disable-text material-symbols-rounded">close</span>
        </a>
        <a href="/schedules">
            <span class="disable-text material-symbols-rounded">calendar_month</span>
        </a>
        <h1 class="logo disable-text">P</h1>
    </header>

    <!-- calendar -->
    <div id="calendar-container">
        <!-- calendar title -->
        <div id="calendar-title" class="primary-bg">
            <div class="title-text">
                <p>일일 일정</p>
                <h2 th:text="${title}"></h2>
            </div>
            <div class="title-color"></div>
        </div>
        <!-- calendar content -->
        <form id="calendar-content" th:action="@{/places/save/{parentId}(parentId=${parentId})}" method="post">
            <input type="hidden" name="parentId" id="parentId" th:value="${parentId}" readonly />
            <div class="content-list">
                <div id="place-list">
                    <div class="place-list-card" th:each="schedule : ${dailySchedules}">
                        <a th:href="@{'/places/' + ${schedule.id}}">
                            <span class="primary-text material-symbols-rounded">date_range</span>
                            <h3 class="primary-text title" th:text="${schedule.title}"></h3>
                            <span class="date" th:text="${schedule.date}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- map -->
    <div class="cover-black"></div>
    <div id="map-container">
        <!-- map -->
        <div id="map"></div>
    </div>

    <!-- js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCINHemUaU3XNZAq3m9AjgAFbV-HRaKTXg&libraries=places&v=weekly&callback=initMap"
            defer></script>
</body>
</html>
